@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk&display=swap");

@import "tailwindcss";

@layer base {
    html {
        font-family: "Host Grotesk", sans-serif;
    }
}

@theme {
    --color-primary: #222831;
    --color-secondary: #31363F;
    --color-accent: #76ABAE;
    --color-neutral: #EEEEEE;
}  